.form {
    padding: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.catalog_form {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.catalog_upload img {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    /* width: 100%; */
    border-radius: 8px;
    max-width: 100%;
    max-height: 200px;
}
.catalog_upload_button button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.input_label_1,
.input_label_2,
.input_label_3 {
    margin-top: 10px;
}
.input_labels h1 {
    font-size: 16px;
    color: #333333;
}

.input_labels input,
textarea {
    width: 20vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
    resize: none;
}
