@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.flag_border {
    background-image: linear-gradient(
        90deg,
        #f09e4b,
        #e1dcd7,
        #e0e0e0,
        #d3dad2,
        #298921
    );
    border-top: 5px transparent;
    height: 5px;
}
.footer {
    padding: 0 10%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: url("../assets/bg.svg");
    background-position: 50%;
    background-size: 100%;
}
.footer_row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.footer_row li {
    list-style: none;
}
.footer_img {
    padding-right: 15px;
}
.footer_img img {
    max-width: 130px;
    padding-left: 10px;
}
.footer_col_1,
.footer_col_2,
.footer_col_3 {
    padding: 0 25px;
}
.footer_col_1 h3,
.footer_col_2 h3,
.footer_col_3 h3 {
    font-size: 0.813rem;
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    margin-bottom: 9pt;
}
.footer_col_1 ul li,
.footer_col_2 ul li,
.footer_col_3 ul li {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font: normal normal normal 0.75rem Lato;
    text-decoration: none;
    padding: 0 2px;
}
.go_top {
    background-image: none;
    background: #fff 0 0 no-repeat padding-box;
    border: 1px transparent;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    cursor: pointer;
    float: right;
    padding: 5px;
}
.go_top img {
    vertical-align: middle;
}
hr {
    /* display: flex;
    margin: 0 auto; */
    margin: 1rem 0;
    color: inherit;
    opacity: 0.25;
    border: 1px solid;
}
.copyright,
.content {
    font-size: 0.75rem;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.copyright .copy_start ul {
    display: flex;
}
.copyright .copy_start ul li {
    list-style: none;
    padding: 0 5px;
}
.copy_start {
    float: left;
}
.copy_end {
    float: right;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.content_left {
    display: flex;
    flex-direction: column;
    float: left;
}
.content_left a {
    text-decoration: underline;
}
.content_right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
