@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.homepage{
    background: url(https://www.mygov.in/sites/all/themes/mygov/images/paralex-bg.png)
        right 0 no-repeat;
}

.key_features {
    padding: 55px 0 40px;
    width: 80%;
    margin: 0 auto;
}
.key_heading {
    margin-bottom: 15px;
}
.key_heading h1 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.714em;
    background: linear-gradient(
        92.61deg,
        #9ac461 0%,
        #548bc5 0%,
        #59b59a 116.86%,
        #b45d97 182.36%,
        #dc763b 246.57%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.benefits_heading{
    margin-bottom: 25px;
}
.benefits_heading h1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.714em;
    background: linear-gradient(
        92.61deg,
        #9ac461 0%,
        #548bc5 0%,
        #59b59a 116.86%,
        #b45d97 182.36%,
        #dc763b 246.57%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.tab_icons {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
}
.tab_link {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 16%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}
.tab_link img {
    width: 100px;
    aspect-ratio: 3 / 2;
    object-fit: contain;
    margin-top: 15px;
}

.tab_link h1{
    text-align: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.786em;
    color: #6c6c6c;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.benefits{
    padding-bottom: 55px;
}

.benefits_icons {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    background: #fff;
}

.b1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.b1 h3 {
    font-family: "Roboto Slab";
    font-size: 15px;
    text-align: center;
    margin-top: 7%;
    border-bottom: 1px solid #ddd;
    padding: 0 0 7px;
    margin: 12px 0 7px;
}

.b1 p {
    font-family: "Open Sans";
    color: #727171;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10%;
}

.benefits_icons hr {
    width: 100%;
    margin: 7px;
}

.benefits_icons img {
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
