.homepage {
    padding: 5vw 10vw;
}

.homepage .main {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.714em;
    display: inline-block;
    background: linear-gradient(
        92.61deg,
        #9ac461 0%,
        #548bc5 0%,
        #59b59a 116.86%,
        #b45d97 182.36%,
        #dc763b 246.57%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 25px;
}

.homepage input.search {
    width: 100%;
    border: 1px solid black;
    border-style: none none solid none;
    outline: none;
    padding: 6px;
    margin-right: 25px;
}

.section-2 {
    display: flex;
    padding: 50px 0 0 0;
}

.section-2 h2 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.314em;
}

.section-2 select {
    width: 100%;
}
